@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(24.444% 0.03165 195.332);
  --primary: oklch(77.729% 0.14626 79.107);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(50.506% 0.13151 32.487);
  --secondary-foreground: oklch(100% 0.00011 271.152);
  --muted-foreground: oklch(59.987% 0.00007 271.152);
  --accent: oklch(43.939% 0.06218 195.174);
  --border: oklch(82.032% 0.00009 271.152);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
